*
{
	margin: 0;
	padding: 0;
}
HTML
{
	height: 100%;
}
BODY
{
	height: 100%;
	color: #A4A4A4;
	cursor: default;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
    background: #000 no-repeat 50% 0;
    font-family: Tahoma, sans-serif;
}
A:link, A:visited
{
	color: #FFF;
	text-decoration: none;
}
A IMG
{
	border: 0;
}
DIV.wrap
{
	width: 818px;
	margin: 0 auto;
	text-align: left;
}
DIV#top DIV#nav
{
	float: left;
	clear: both;
	width: 818px;
	height: 52px;
	margin: 22px 0 0;
}
DIV#top DIV#nav UL
{
	float: left;
	width: 700px;
	height: 52px;
	list-style-type: none;
}
DIV#nav UL LI
{
	float: left;
	height: 52px;
}
DIV#nav UL LI A
{
	border: 0;
	height: 52px;
	display: block;
	line-height: 52px;
	text-indent: -9999px;
}
DIV#language-holder{
    background: url(/view/images/languages/header-bg1.png) repeat 50%;
    height: auto;
    float: none;
	width: 818px;
    top: 218px;
	margin:auto;
    margin-bottom: 40px;

}
DIV#language-holder#language-image{


}
DIV#language-holder IMG{
    height: 30px;
    float: right;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
DIV#header
{
	margin: -1px 0 0;
}
DIV#video-header
{
	height: 218px;
	margin: -1px 0 0;
}
DIV#header DIV.wrap
{
	height: 218px;
	background: url(/view/images/header-bg1.png) no-repeat 50% 0;
}
DIV#header DIV#slide-holder
{
	z-index: 41;
	width: 800px;
	height: 218px;
	position: absolute;
}
DIV#header DIV#slide-holder DIV#slide-runner
{
	top: 9px;
	left: 9px;
	width: 800px;
	height: 218px;
	overflow: hidden;
	position: absolute;
}
DIV#header DIV#slide-holder IMG
{
	margin: 0;
	display: none;
	position: absolute;
}
DIV#header DIV#slide-holder DIV#slide-controls
{
	left: 0;
	bottom: 178px;
	width: 818px;
	height: 46px;
	display: none;
	position: absolute;
	background: url(/view/images/images/slide-bg.png) 0 0;
}
DIV#header DIV#slide-holder DIV#slide-controls P.text
{
	float: left;
	color: #FFF;
	display: inline;
	font-size: 10px;
	line-height: 16px;
	margin: 15px 0 0 20px;
	text-transform: uppercase;
}
DIV#header DIV#slide-holder DIV#slide-controls P#slide-nav
{
	float: right;
	height: 24px;
	display: inline;
	margin: 11px 30px 0 0;
}
DIV#header DIV#slide-holder DIV#slide-controls P#slide-nav A
{
	float: left;
	width: 24px;
	height: 24px;
	display: inline;
	font-size: 11px;
	margin: 0 5px 0 0;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
    background: no-repeat 0 0;
}
DIV#header DIV#slide-holder DIV#slide-controls P#slide-nav A.on
{
	background-position: 0 -24px;
}
DIV#header DIV#slide-holder DIV#slide-controls P#slide-nav A
{
	background-image: url(/view/images/images/silde-nav.png);
}
DIV#nav UL LI A
{
	background: url(/view/images/nav-bg1.png) no-repeat;
}
